
</head>
<body>
<header class="header">
    <div class="logo">
        <a class="nav-link" href="/">Trello By Tema&co</a>
    </div>
    <nav class="nav nav-pills nav-justified">
        <a class="nav-link" href="/add-task">Add Task</a>
        <a class="nav-link" href="/tasks">Show All Tasks</a>
        <a class="nav-link" href="#">Add User</a>
        <a class="nav-link" href="#">Show All Users</a>
    </nav>
</header>