<%- include("includes/head.ejs"); %>
<%- include("includes/header.ejs"); %>
<main>
    <div class="fluid-container">
        <h1>Index page</h1>
    </div>
</main>
<%- include("includes/footer.ejs"); %>

